@model IEnumerable<BooksNet.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="col-md-12">
    <div class="card">

        <div class="card-header card-header-icon" data-background-color="blue">
            <i class="material-icons">book</i>
        </div>
        <h4 class="card-title">Books</h4>
        <br />
        <div class="card-content table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Title)</th>
                        <th>@Html.DisplayNameFor(model => model.Authors)</th>
                        <th>@Html.DisplayNameFor(model => model.Publisher)</th>
                        <th>@Html.DisplayNameFor(model => model.Age)</th>
                        <th>@Html.DisplayNameFor(model => model.Print)</th>
                        <th>@Html.DisplayNameFor(model => model.PrintDate)</th>
                        <th>@Html.DisplayNameFor(model => model.PagesNumber)</th>
                        <th class="text-right">Actions</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Authors.Count)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Publisher.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Age)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Print)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrintDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PagesNumber)
                        </td>
                        <td class="td-actions text-right">
                            <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-white btn-round"> <i class="material-icons">edit</i></a>
                            <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-white btn-round"> <i class="material-icons">close</i></a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<a href="@Url.Action("Create")" class=" btn btn-info add fixed-corner"><i class="material-icons">add</i></a>
