<!DOCTYPE html>
<!--

 BooksNet is library managment system help to give a modern way to share pdf file.

 By     : Muhammad Khair Albarmawi
 Site   : http://www.mbarmawi.com
 Email  : muhammadalbarmawi@outlook.com
 GitHub : http://github.com/mbarmawi

 Copyright (c) @DateTime.Now.Year , Muhammad Khair Albarmawi
 All rights reserved.

-->
<html ng-app="booksNet" data-ng-app="booksNet" ng-controller="main">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<title ng-bind="title">BooksNet - Home</title>*@
    <title>@ProfileMapper.Get().Name</title>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="~/Content/chosen.min.css" rel="stylesheet" />

    <link href="~/Content/app.css?v=@AppSettings.Build" rel="stylesheet" />

    @RenderSection("styles", false)
</head>
<body dir="@Resource._dir">
    <div class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="material-icons">menu</i>
                </button>
                <a class="navbar-brand display-none" href="/">@ProfileMapper.Get().Title</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/Home">@Resource.Home</a></li>
                    <li><a href="/Books">@Resource.Books</a></li>
                    <li><a href="/Contact">@Resource.Contact</a></li>
                    @if (ProfileMapper.Get().AboutUs?.Trim().Length > 0)
                    {
                    <li><a href="/About">@Resource.About</a></li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
                    @if (!String.IsNullOrEmpty(ProfileMapper.Get().Twitter))
                    {
                    <li>
                        <a href="https://twitter.com/@ProfileMapper.Get().Twitter" target="_blank" class="btn btn-simple btn-just-icon">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    }

                    @if (!String.IsNullOrEmpty(ProfileMapper.Get().Facebook))
                    {
                    <li>
                        <a href="https://www.facebook.com/@ProfileMapper.Get().Facebook" target="_blank" class="btn btn-simple btn-just-icon">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    }

                    @if (!String.IsNullOrEmpty(ProfileMapper.Get().Instagram))
                    {
                    <li>
                        <a href="https://www.instagram.com/@ProfileMapper.Get().Instagram" target="_blank" class="btn btn-simple btn-just-icon">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        @RenderBody()
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <p class="developer text-left">&copy; @DateTime.Now.Year - Muhammad Khair Albarmawi
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">
                    <p class="text-right my-links">
                        <span><a target="_blank" href="https://www.linkedin.com/in/mbarmawi" class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>  </span>
                        <span><a target="_blank" href="http://codepen.io/mbarmawi/" class="codepen"><i class="fa fa-codepen" aria-hidden="true"></i></a>             </span>
                        <span><a target="_blank" href="http://github.com/mbarmawi/" class="git"><i class="fa fa-github" aria-hidden="true"></i></a>                  </span>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script src="~/Scripts/material.min.js"></script>
    <script src="~/Scripts/material-kit.js?v=@AppSettings.Build"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/app.js?v=@AppSettings.Build"></script>

    @RenderSection("scripts", required: false)
</body>
</html>