<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BooksNet</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/admin.css?v=@AppSettings.Build" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("BooksNet", "Index", "Dashboard", new { area = "Admin" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                    <li>@Html.ActionLink("Users", "Index", "Users")</li>
                    <li>@Html.ActionLink("Authors", "Index", "Authors")</li>
                    <li>@Html.ActionLink("Publishers", "Index", "Publishers")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <div class="container text-left ">
            <p>&copy; @DateTime.Now.Year - Muhammad Khair Albarmawi</p>
        </div>
    </footer>

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Areas/Admin/Scripts/material.min.js"></script>
    <script src="~/Areas/Admin/Scripts/material-dashboard.js"></script>
    <script src="~/Areas/Admin/Scripts/bootstrap-notify.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>  
    <script src="~/Areas/Admin/Scripts/app.js?v=@AppSettings.Build"></script>
    @RenderSection("scripts", required: false)
</body>
</html>