@model BooksNet.Models.Category

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

@*<ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Dashboard") ">Dashboard</a></li>
        <li><a href="@Url.Action("Index","Users")">Users</a></li>
        <li class="active">Create</li>
    </ol>*@

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.Version)
@Html.HiddenFor(model => model.CreateDate)
@Html.HiddenFor(model => model.LastUpdate)

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header card-header-icon" data-background-color="purple">
                <i class="material-icons">local_offer</i>
            </div>
            <h4 class="card-title">Edit category</h4>
            <br />
            <div class="card-content">
                <div class="form-group label-floating">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <button type="submit" class="btn btn-fill btn-primary pull-right">Submit</button>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>

</div>
}
